body {
  color: #3398a4;
  font-family: "Open Sans Condensed", sans-serif;
}
.card {
  margin: 10px 0;
  border: 1px solid #2d4f53;
  max-width: 900px;
}

.search-bar {
  border: 1px solid #2d4f53;
}
.search .btn {
  background-color: #3398a4;
}
.city {
  margin: 10px 0 0 0;
  font-size: 50px;
}
.current-weather,
.date-time {
  font-size: 28px;
}
.unit-selector {
  color: #2d4f53;
  font-size: 19px;
  position: relative;
  top: -66px;
  left: 90px;
  text-decoration: none;
}

.temperature {
  font-size: 75px;
  line-height: 55px;
}

.more-info {
  text-align: center;
  color: #2d4f53;
  border-color: none;
  font-size: 15px;
}
.sunrise,
.sunset,
.humidity,
.wind {
  text-align: center;
  font-size: 23px;
}
.sunrise-time,
.sunset-time,
.humid-value,
.wind-speed {
  text-align: center;
  color: #2d4f53;
  font-size: 19px;
}
.forecast {
  font-size: 20px;
  text-align: center;
}
.fas {
  font-size: 23px;
  color: #2d4f53;
}

.unit-selector .active {
  cursor: default;
  color: #3398a4;
}
.unit-selector .active:hover {
  text-decoration: none;
}
